<p>Hello, {{username}}!!!
  Welcome back to StudyMore
</p>

<button>
  <a href="/subjects/new"> Create Subject </a>
</button>
<button>
  <a href="/cards/new"> Create Card </a>
</button>

<h3>Subjects</h3>
<ul>
  {{#each subject}}
  <li>
    <a href="/subjects/{{id}}">{{title}}</a>

    <a class="btn btn-success" href="/subjects/edit/{{id}}">Edit</a>
    <a class="btn btn-danger" href="/subjects/delete/{{id}}">Delete</a>
  </li>
  {{/each}}
</ul>
