
<div class="container-fluid create-card">
<h1>{{percentCorrect}}%</h1>
<h1>Good job!<h1>

<a class="btn" type="button" name="button" href="/subjects/{{subject.id}}/study">Study All</a>
<a class="btn" type="button" class="btn btn-warning" href="/quiz/wrong/{{subject.id}}/{{wrongIDs}}">Study Wrong</a>
<a class="btn" type="button" name="button" href="/subjects/{{id}}">Finish</a>
