<h1>{{subject.title}}</h1>

<a href="/subjects/{{subject.id}}/study" class="btn btn-default">Study</a>
<a href="/cards/new" class="btn btn-default">Create Card</a>

<h3>Cards</h3>
<ul>
  {{#each cards}}
  <li>
    {{front}}
    {{back}}
    <button type="button" name="edit" href="/cards/edit/{{subject.id}}">Edit Card</button>
    <a href="/cards/delete/{{id}}/{{subject_id}}">Delete Card</a>
  </li>
  {{/each}}
</ul>
