<h1>{{subject.title}}</h1>

<a href="/subjects/{{subject.id}}/study" class="btn btn-default">Study</a>
<a href="/card" class="btn btn-default">Create Card</a>

<h3>Cards</h3>
<ul>
  {{#each cards}}
  <li>
    {{front}}
    {{back}}
    <button type="button" name="edit" href="/card/edit/{{subject.id}}">Edit Card</button>
    <button type="button" name="delete" href="/card/delete/{{subject.id}}">Delete Card</button>
  </li>
  {{/each}}
</ul>
