
<div class="container-fluid create-card">

  <h1>{{subject.title}} Quiz </h1>
<div class="col-md-9 col-sm-9 pull-right pad-tron">
  <div class="jumbotron front">
    {{card.front}}
  </div>
  

  <div class="jumbotron back">
    {{card.back}}
  </div>
  </div>


  <form action="/quiz/{{id}}/{{nextCard}}">
    <input type="hidden" name="correct" value="false" />
    <input type="hidden" name="cardId" value="{{card.id}}" />
    <button class="btn" type="submit">Incorrect</button>
  </form>

  <button class= "btn" id="flip-button" type="button" name="flip">FLIP</button>

  <form action="/quiz/{{id}}/{{nextCard}}">
    <input type="hidden" name="correct" value="true" />
    <input type="hidden" name="cardId" value="{{card.id}}" />
    <button class="btn" type="submit">Correct</button>
  </form>
  </div>
